<section class="hero pt-32 pb-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungary?</em></h6>
            <h1 class="text-6xl font-bold">Don't wait</h1>
            <button class="btn-primary px-6 py-2 mt-2 rounded-full text-white font-bold">Order Now!</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="Hero Pizza">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-8" id="menu">
    <h1 class="text-xl font-bold my-16">All Pizzas</h1>
    <div class="flex flex-row flex-wrap">
    
        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="w-52 bg-gray-300 bg-opacity-50 rounded-md m-5 p-4">
            <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <span class="bg-gray-300 py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex justify-around mt-4 items-center">
                    <span class="text-xl font-bold">₹250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full">
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>

    </div>


</section>