<!-- This file is automatically detected by the ejs-express-lauouts as it has name as "layout.ejs", no need to tell explicitly. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <nav class="container mx-auto flex items-center justify-between py-4">
        <div>
            <img src="/img/logo.png" alt="logo">
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6 font-extrabold"><a href="/#menu">Menu</a></li>
                <li class="ml-6 font-extrabold"><a href="#">Offers</a></li>
                <% if(user) { %>
                    
                    <li class="ml-6 font-extrabold">
                        <form id="logout" action="/auth/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                        </form>
                    </li>
                <% } else { %>
                    <li class="ml-6 font-extrabold"><a href="/auth/register">Register</a></li>
                    <li class="ml-6 font-extrabold"><a href="/auth/login">Login</a></li>
                <% } %>
                <li class="ml-6">
                    <a href="/cart/items" class="px-3 py-3 rounded-full flex items-center">
                        <span id="cartCounter" class=" text-white font-bold">
                            <% if(session.cart) { %>
                                <%= session.cart.totalQty %>
                            <% } else { %>
                                0
                            <% } %>
                        </span>
                        <img src="/img/cart.png" alt="cart"></a>
                </li>
            </ul>
        </div>
    </nav>

    <%- body %>

    <script src="/js/app.js"></script>
</body>

</html>